<ion-view title="Official Bearers">
            <ion-content class="has-header">

                <div class="item item-divider">अध्यक्ष</div>
                <p class="padding text-justify">
                श्री सतीश उपाध्याय
सी-4/21, द्वितीय तल, सफदरजंग डबलपमेंट
एरिया, नई दिल्ली-110 016<br>
                26534137,8130892161,9811047222
                </p>
                
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्री तिलकराज कटारिया
बी.डब्ल्यू.-106-सी, शालीमार बाग
दिल्ली-110 088
<br>
                27472425,65475019,9971793264

                </p>
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
प्रो. रजनी अब्बी
7/2, लान्सर्ज रोड, तिमारपुर
दिल्ली-110 054
<br>
9871203535,8130892011

                </p>
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्रीमती विशाखा शैलानी
डी-22, जवाहर पार्क, खानपुर
नई दिल्ली-110 062

<br>
9868916636,8800914486


                </p>
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्रीमती शिखा राय
सी-26, पंचशील एन्कलेव
नई दिल्ली-110 017

<br>
9868542101


                </p>
                
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्री जय प्रकाश ;जे.पी.द्ध
4369, गली बहूजी
पहाड़ी धीरज, दिल्ली-6

<br>
9999822713,9810364813
                 </p>
                 
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्री अभय कुमार वर्मा, एडवोकेट
92, टाप फ्लोर, साउथ गणेश नगर
शकरपुर, दिल्ली-110 092

<br>
22474958,9810100963

                 </p>
                 
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्रीमती किरण चड्डा
एल-21, कैलाश कालोनी
नई दिल्ली-110 048

<br>
29232612,9810360752


                 </p>
                <div class="item item-divider">उपाध्यक्ष</div>
                <p class="padding text-justify">
                श्री कुलजीत सिंह चहल
98, डिफेन्स एन्कलेव, विकास मार्ग
दिल्ली-110 092

<br>
22442248,42440777,9811123041
            </p>
                <div class="item item-divider">महामंत्री</div>
                <p class="padding text-justify">
                श्री रमेश बिधूड़ी
मकान नं.-179, सुनपत हाऊस
गाव तुगलकाबाद, नई दिल्ली-44

<br>26042660,26081888,26048483,26054499,9811039678

            </p>
                <div class="item item-divider">महामंत्री</div>
                <p class="padding text-justify">
                श्री आशीष सूद
ए-3/2, जनकपुरी
नई दिल्ली-110 058

<br>25509217,9990770000,8130892117


            </p>
                <div class="item item-divider">महामंत्री</div>
                <p class="padding text-justify">
                श्रीमती रेखा गुप्ता
क्यु. यू.-294ए, चित्रकूट सोसाईटी
पीतमपुरा, दिल्ली-110088

<br>27347874,9910993054,8130892054



            </p>
                <div class="item item-divider">महामंत्री संगठन</div>
                <p class="padding text-justify">
                श्री विजय शर्मा
14, पंडित पन्त मार्ग
नई दिल्ली-110 001

<br>23712323,23712744,9810874281
    
            </p>
                <div class="item item-divider">कोषाध्यक्ष</div>
                <p class="padding text-justify">
                श्री श्याम लाल गर्ग
259, राजधानी एन्कलेव
पीतमपुरा, दिल्ली - 34

<br>27196345,9818056964,9810019526
            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्री गजेन्द्र यादव
177/टी-9, वार्ड नं.-2
महरौली, नई दिल्ली-30

<br>9868224494,9268929999
            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्री जयवीर राणा
1170, बिजवासन, नजदीक डालमियां विहार
नई दिल्ली-110 061

<br>9811558200
            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्री कृष्ण लाल ढिलौड़
28/82, भूतल, वेस्ट पटेल नगर
नई दिल्ली-110 008

<br>9873265961
            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्रीमती पूनम पाराशर झा
बी-1/7, इन्द्रा एन्कलेव फेज-।।
शनि बाजार रोड, किराड़ी, दिल्ली-86

<br>9811290054
            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्री पवन मोंगा
बी-138, प्रथम तल, डबल स्टोरी
रमेश नगर, नई दिल्ली-110 015

<br>9958099999,9873211111

            </p>
                 
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                सरदार हरतीरथ सिंह
वी-259, राजौरी गार्डन
नई दिल्ली-110 027

<br>9911114455

            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्री कर्मवीर सिंह चंदेल
एल-214, गली नं.-7, गौतम विहार
घौण्डा, दिल्ली-110 053

<br>9868964810

            </p>
                <div class="item item-divider">मंत्री</div>
                <p class="padding text-justify">
                श्रीमती सुधा शर्मा
1498, रंजीत गली, बाजार संगतराशां
पहाड़गंज, नई दिल्ली-110055

<br>9891429434

            </p>
                <div class="item item-divider">प्रवक्ता</div>
                <p class="padding text-justify">
                श्री अमन सिन्हा
20, सुप्रीम एन्कलेव, मयूर विहार
फेज-1, दिल्ली-110 091

<br>22795737,22795738,9811072323
            </p>
                <div class="item item-divider">प्रवक्ता</div>
                <p class="padding text-justify">
                श्रीमती पूनम झा आजाद
25, पंडित रविशंकर शुक्ला लेन
केनिन्ग लेन, नई दिल्ली-110 001

<br>23782645,23073234,9810071505

            </p>
                <div class="item item-divider">प्रवक्ता</div>
                <p class="padding text-justify">
                श्री हरीश खुराना
जे-3/201, प्रथम तल, राजौरी गार्डन
नई दिल्ली-110 027

<br>9711489242
            </p>
                <div class="item item-divider">प्रवक्ता</div>
                <p class="padding text-justify">
                श्री राजीव बब्बर
बी ए-324, टैगोर गार्डन
नई दिल्ली-110 027

<br>25193327,9212030000,9810567767

            </p>
                <div class="item item-divider">प्रवक्ता</div>
                <p class="padding text-justify">
                डा. दीपिका शर्मा
5/11, भूतल, ईस्ट पटेल नगर
नई दिल्ली-110 008

<br>9810109832

            </p>
                <div class="item item-divider">मीडिया प्रमुख</div>
                <p class="padding text-justify">
                श्री प्रवीण शंकर कपूर
2159, प्रथम तल, तिलक बाजार
खारी बावली, दिल्ली-110 006

<br>23927219,9811040330,9873336731


            </p>
                <div class="item item-divider">सदस्य</div>
                <p class="padding text-justify">
                सीए राजेश शर्मा
325, ध्रुव अपार्टमेन्ट, पटपडगंज
दिल्ली-110 092

<br>9810277394


            </p>
                <div class="item item-divider">सदस्य</div>
                <p class="padding text-justify">
                श्री आदित्य झा
बी-185, तृतीय तल, आनंद विहार
दिल्ली-110 092

<br>9818133539


            </p>
                <div class="item item-divider">सदस्य</div>
                <p class="padding text-justify">
                श्री अजय चैहान
1470, ओट्रम लाइन, किंग्जवे कैम्प
दिल्ली-110 009

<br>9810604565


            </p>
                <div class="item item-divider">सदस्य</div>
                <p class="padding text-justify">
                सुश्री नूपुर शर्मा
5-बी, नार्थ टावर, गिरधर अपार्टमेन्ट
28, फिरोजशाह रोड, नई दिल्ली-110 001

<br>9711860881


            </p>
                <div class="item item-divider">कार्यालय प्रभारी</div>
                <p class="padding text-justify">
                श्री महेन्द्र गुप्ता
2307, हडसन लेन, गुरूतेग बहादुर नगर
दिल्ली-110 009

<br>9811026407


            </p>
                <div class="item item-divider">कार्यालय मंत्री</div>
                <p class="padding text-justify">
                प्रो. राजवीर शर्मा
बी-91, मालवीय नगर
नई दिल्ली-110 017

<br>9818880249


            </p>
                <div class="item item-divider">कार्यालय मंत्री</div>
                <p class="padding text-justify">
                श्री हुकुम सिंह चैधरी
14, पंडित पन्त मार्ग
नई दिल्ली-110 001

<br>9868140090


            </p>
                 
                 
                

            </ion-content>
</ion-view>
