<ion-view title="Party Details">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">BJP party</div>
<p>
                    The Bharatiya Janata Party (BJP) a direct successor of erstwhile Bharatiya Jana Sangh (BJS) founded in 1980, is a major political party of India. <br>
                    The Bharatiya Jana Sangh was founded in 1951 by Syama Prasad Mookerjee, a nationalist leader, former Union Minister and freedom-fighter.<br>
                     The party advocates welfare social social policies, self reliance, robust economic growth, foreign policy driven by a nationalist agenda, and strong national defense.<br>
                    The BJP is pledged to build up India as a strong and prosperous nation, which is modern, progressive and enlightened in outlook and which proudly draws inspiration from India's ancient culture and values and thus is able to emerge as a great world power playing an effective role in the comity of Nations for the establishment of world peace and a just international order.<br>
                     The Party aims at establishing a democratic state which guarantees to all citizens irrespective of caste, creed or sex, political, social and economic justice, equality of opportunity and liberty of faith and expression. <br>
                     The Party shall bear true faith and allegiance to the Constitution of India as by law established and to the principles of socialism, secularism and democracy and would uphold the sovereignty, unity and integrity of India.<br>
                    The BJP stands for strong national defense, small government and free-market economic policies. Integral humanism has been its core philosophy and identity ever since its inception.
</p>
                </div>
            </ion-content>
    
</ion-view>
